/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

ul {
    list-style-type: none;
}


/* HEADER */

.top-bar{
    padding: 20px;
}

.logo{
    width: 20%;
    padding: 5px;
}

nav {
    width: 60%;
    text-align: center;
    padding: 5px;
}

nav li{
    display: inline-block;
}

.login{
    width: 20%;
    padding: 5px;
}


/* MAIN */
/* HEADER MAIN */
main header{
    padding: 30px 0;
    justify-content: center;
}

/* SECTION */
main > section{
    padding: 30px 0;
}

.gray-bg{
    background-color: lightgray;
}

.image{
    width: 60%;
}

.text{
    width: 40%;
}

/* FOOTER */
footer{
    background-color: #23272A;
    padding: 10px 0;
}

.end-page{
    justify-content: space-between;
    align-items: center;
}







/* ---- DEBUG ----- */

/* HEADER */
.debug header {
    background-color: lightblue;
}

.debug header div div,
.debug header div nav {
    background-color: goldenrod;
    border: 1px dashed black;
}

/* MAIN */
.debug main header{
    background-color: #00008b;
}

.debug main header div{
    min-height: 300px;
    width: 600px;
    justify-content: center;
    background-color: #EE82EE;
    border: 2px dashed;
}

.debug .img, .debug .text{
    min-height: 500px;
    border: 2px dashed;
}

.debug .image{
    background-color: #1E90FF;
}

.debug .text{
    background-color: #FFC0CB;
}

/* FOOTER */

